Step 1 : Data Exploration & Loading

In [36]:
#Importing Libraries
import pandas as pd

# mysql toolkit
#pymysql this will work as adapter
#sqlalchemy create engine

import pymysql
from sqlalchemy import create_engine

#psql
#psycopg2

import psycopg2

In [5]:
print(pd.__version__)

2.3.1

In [9]:
df = pd.read_csv(r'C:\Users\keert\Desktop\WalmartProject\walmart-10k-sales-datasets\Walmart.csv', encoding_errors='ignore')

df.shape

(10051, 11)

In [10]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [11]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [14]:
#All Duplicates
df.duplicated().sum()

np.int64(51)

In [17]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [15]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [19]:
# Dropping all rows with missing records
df.dropna(inplace=True)

#Verifying if all missing records are dropped
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [20]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [33]:
df['unit_price'].astype(float)

0       74.69
1       15.28
2       46.33
3       58.22
4       86.31
        ...
9995    37.00
9996    58.00
9997    52.00
9998    79.00
9999    62.00
Name: unit_price, Length: 9969, dtype: float64

In [30]:
df['unit_price'].str.replace('$', '')

df.head

<bound method NDFrame.head of       invoice_id   Branch         City                category unit_price  \
0              1  WALM003  San Antonio       Health and beauty     $74.69
1              2  WALM048    Harlingen  Electronic accessories     $15.28
2              3  WALM067  Haltom City      Home and lifestyle     $46.33
3              4  WALM064      Bedford       Health and beauty     $58.22
4              5  WALM013       Irving       Sports and travel     $86.31
...          ...      ...          ...                     ...        ...
9995        9996  WALM056      Rowlett     Fashion accessories        $37
9996        9997  WALM030   Richardson      Home and lifestyle        $58
9997        9998  WALM050     Victoria     Fashion accessories        $52
9998        9999  WALM032        Tyler      Home and lifestyle        $79
9999       10000  WALM069     Rockwall     Fashion accessories        $62

      quantity      date      time payment_method  rating  profit_margin  \
0          7.0  05/01/19  13:08:00        Ewallet     9.1           0.48
1          5.0  08/03/19  10:29:00           Cash     9.6           0.48
2          7.0  03/03/19  13:23:00    Credit card     7.4           0.33
3          8.0  27/01/19  20:33:00        Ewallet     8.4           0.33
4          7.0  08/02/19  10:37:00        Ewallet     5.3           0.48
...        ...       ...       ...            ...     ...            ...
9995       3.0  03/08/23  10:10:00           Cash     3.0           0.33
9996       2.0  22/02/21  14:20:00           Cash     7.0           0.48
9997       3.0  15/06/23  16:00:00    Credit card     4.0           0.48
9998       2.0  25/02/21  12:25:00           Cash     7.0           0.48
9999       3.0  26/09/20   9:48:00           Cash     3.0           0.33

      unitprice
0         74.69
1         15.28
2         46.33
3         58.22
4         86.31
...         ...
9995      37.00
9996      58.00
9997      52.00
9998      79.00
9999      62.00

[9969 rows x 12 columns]>

In [31]:
df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

#Verifying the conversion
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,unitprice
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,74.69
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,15.28
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,46.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,58.22
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,86.31

In [32]:
df.info

<bound method DataFrame.info of       invoice_id   Branch         City                category  unit_price  \
0              1  WALM003  San Antonio       Health and beauty       74.69
1              2  WALM048    Harlingen  Electronic accessories       15.28
2              3  WALM067  Haltom City      Home and lifestyle       46.33
3              4  WALM064      Bedford       Health and beauty       58.22
4              5  WALM013       Irving       Sports and travel       86.31
...          ...      ...          ...                     ...         ...
9995        9996  WALM056      Rowlett     Fashion accessories       37.00
9996        9997  WALM030   Richardson      Home and lifestyle       58.00
9997        9998  WALM050     Victoria     Fashion accessories       52.00
9998        9999  WALM032        Tyler      Home and lifestyle       79.00
9999       10000  WALM069     Rockwall     Fashion accessories       62.00

      quantity      date      time payment_method  rating  profit_margin  \
0          7.0  05/01/19  13:08:00        Ewallet     9.1           0.48
1          5.0  08/03/19  10:29:00           Cash     9.6           0.48
2          7.0  03/03/19  13:23:00    Credit card     7.4           0.33
3          8.0  27/01/19  20:33:00        Ewallet     8.4           0.33
4          7.0  08/02/19  10:37:00        Ewallet     5.3           0.48
...        ...       ...       ...            ...     ...            ...
9995       3.0  03/08/23  10:10:00           Cash     3.0           0.33
9996       2.0  22/02/21  14:20:00           Cash     7.0           0.48
9997       3.0  15/06/23  16:00:00    Credit card     4.0           0.48
9998       2.0  25/02/21  12:25:00           Cash     7.0           0.48
9999       3.0  26/09/20   9:48:00           Cash     3.0           0.33

      unitprice
0         74.69
1         15.28
2         46.33
3         58.22
4         86.31
...         ...
9995      37.00
9996      58.00
9997      52.00
9998      79.00
9999      62.00

[9969 rows x 12 columns]>

In [34]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'unitprice'],
      dtype='object')

In [35]:
df['total'] = df['unit_price'] * df['quantity']

#Verifying the new column
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,unitprice,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,74.69,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,15.28,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,46.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,58.22,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,86.31,604.17

In [ ]:
#mysql
#host = localhost
#port = 3306
#user = root
#password = 

#psql
#host = localhost
#port = 5432
#user = postgres
#password =

In [38]:
df.shape

(9969, 13)

In [39]:
df.to_csv('walmart_clean_data.csv', index=False)

In [51]:
# mysql connection
#'mysql+pymysql://<user>:<password>@<host>:<port>/<database>'
engine_mysql = create_engine('mysql+pymysql://root:Kennex%401009@localhost:3306/walmart_db')

try:
    engine_mysql
    print("MySQL connection successful")
except:
    print("Unable to connect to MySQL")

MySQL connection successful

In [54]:
df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)

9969

In [53]:
df.shape

(9969, 13)

In [55]:
#psql connection
#'postgresql+psycopg2://<user>:<password>@<host>:<port>/<database>'
engine_psql = create_engine('postgresql+psycopg2://postgres:Kennex1009@localhost:5432/walmart_db')
try:
    engine_psql
    print("PostgreSQL connection successful")   
except:
    print("Unable to connect to PostgreSQL")

PostgreSQL connection successful

In [66]:
# Update the engine_psql with the correct password (URL-encoded '@' as '%40') and correct database name
engine_psql = create_engine('postgresql+psycopg2://postgres:Kennex%401009@localhost:5432/walmart')

# Use the updated engine_psql variable to write to PostgreSQL
df.to_sql(name='walmart', con=engine_psql, if_exists='append', index=False)

969

In [63]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'unitprice', 'total'],
      dtype='object')

In [65]:
df.columns = df.columns.str.lower()
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'unitprice', 'total'],
      dtype='object')